a:link {
    text-decoration: none;
    }
    a::before{
        content: "";
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 2px;
background: red;
border: 4px;
scale: .1 ;
transform-origin: left;
transition: scale 1s;
    }
    a:hover::before{
        scale: 1;
        }
        a{
        color: white;
        }
    body{
        background-color: #FFE6C7;
    }
    .header{
        top: 0;
        left: 0;
        position: fixed ;
        background-color: #454545;
        width:  1368px;
        height: 70px;
    }
    .headerr{
        top: 1000%;
        left: 0;
        position: absolute;
        background-color: #ffe6c7;
        width: 1349px;
        height: 100px;
    }
    #searchid{
        position: absolute;
        left: 83%;
        top: 45%;
        transform: translate(-50%,-50%);
        background-color: rgb(148, 213, 230);
        border: solid;
        border-width: 1px;
        height: 50px;
        width: 320px;
        border-radius: 10%;
        background: #fff;
        height: 30px;
        border-radius: 30px;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.8s;
        box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
        inset -7px -7px 10px 0px rgba(0,0,0,.1),
       7px 7px 20px 0px rgba(0,0,0,.1),
       4px 4px 5px 0px rgba(0,0,0,.1);
       text-shadow:  0px 0px 6px rgba(255,255,255,.3),
                  -4px -4px 6px rgba(116, 125, 136, .2);
      text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
      box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                  -4px -4px 6px 0 rgba(116, 125, 136, .2), 
        inset -4px -4px 6px 0 rgba(255,255,255,.2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
    }
    nav{
display: flex ;
position: absolute;
gap: 8px;
top: 0%;
left: 5%;
cursor: pointer;
}
ul{
justify-content: space-between ;
list-style: none;
display: flex;
gap: 32px;
}
li{
list-style: none;
position: relative;
display: inline-block;
font-size: 30px;
color: white;
font-family: 'inter';
}

li::before{
content: "";
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 2px;
background: red;
border: 4px;
scale: .1 ;
transform-origin: left;
transition: scale 1s;
}

li:hover::before{
scale: 1;
}
.logo{
    position: fixed;
    top: -1.7%;
    left: 1%;
    height: 90px;
    width: 90px;
    background-color: transparent;
    }
    
    /*end of header*/
    .title{
        font-family: 'inter';
        font-size: 60px;
        position: absolute;
        top: 13%;
        left: 5%;
        color: black;
    }
    .bg{
        position: absolute;
        left: 0;
        top: 25%;
        height: 650px;
        width: 1349.4px;
        background-color: #FFA559;
    }
    .churchimage{
        top: 3%;
        height: 650px;
        width: 1340px;
        position: absolute;
        height: 600%;
        width: 1349.4;
    }
    
    
.blackfilter{
    top: 3%;
        height: 650px;
        width: 1340px;
        position: absolute;
        height: 600%;
        width: 1349.4;
        filter: opacity(80%);
}
/* function when click north js */
.northtext{
    font-family: 'inter';
    font-size: 70px;
    color: white;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 40%;
    left: 25%;
    text-align: center;
    transition: linear 0.2s;
    cursor: pointer;
}
.northtext:hover{
    font-size: 75px;
}
.northtextjs{
    font-family: 'inter';
    font-size: 60px;
    color: white;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 40%;
    left: 86%;
    text-align: center;
    transition: linear 0.2s;
    cursor: pointer;
}
.northtextjs:hover{
    font-family: 'inter';
    font-size: 65px;
    color: white;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 40%;
    left: 86%;
    text-align: center;
    transition: linear 0.2s;
    cursor: pointer;
}
.southtextgoingrightjs{
    font-family: 'inter';
    font-size: 70px;
    color: white;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 40%;
    left: 85%;
    text-align: center;
    transition: linear 0.2s;
    visibility: hidden;
    opacity: 0;
}
.churchboxnorth{
    height: 681px;
    width: 955px;
    background-color: black;
    position: absolute;
    top: 30%;
    left: 1%;
    transition: linear 0.3s;
    visibility: hidden;
    opacity: 0;
}
.churchboxnorthjs{
    height: 681px;
    width: 955px;
    background-color: #FFE6C7;
    position: absolute;
    top: 30%;
    left:1% ;
    transition: linear 0.3s;
    visibility: visible;
    opacity: 1;
}


/*end of function of north*/


/* function when click south js */
.southtext{
    font-family: 'inter';
    font-size: 70px;
    color: white;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 40%;
    left: 75%;
    text-align: center;
    transition: linear 0.2s;
    cursor: pointer;
}
.southtext:hover{
     font-size: 75px;
     
}
.southtextjs{
    font-family: 'inter';
    font-size: 60px;
    color: white;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 40%;
    left: 14%;
    text-align: center;
    transition: linear 0.2s;
    cursor: pointer;
}
.southtextjs:hover{
    font-family: 'inter';
    font-size: 65px;
    color: white;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 40%;
    left: 14%;
    text-align: center;
    transition: linear 0.2s;
    cursor: pointer;
}
.northtextgoingleftjs{
    font-family: 'inter';
    font-size: 70px;
    color: white;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 40%;
    left: -25%;
    text-align: center;
    transition: linear 0.2s;
}
.churchboxsouth{
    height: 681px;
    width: 955px;
    background-color: black;
    position: absolute;
    top: 30%;
    left: 28%;
    transition: linear 0.3s;
    visibility: hidden;
    opacity: 0;
}
.churchboxsouthjs{
    height: 681px;
    width: 955px;
    background-color: #FFE6C7;
    position: absolute;
    top: 30%;
    left: 28%;
    transition: linear 0.3s;
    visibility: visible;
    opacity: 1;
}
/*end of function of south*/


/* box1 north*/ 
.box1north{
    height: 250px;
    width: 250px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 25%;
    left: 20%;
    background-color: #454545;
    visibility: hidden; 
    
}
.box1northjs{
    height: 220px;
    width: 220px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 25%;
    left: 20%;
    background-color: #454545;
    visibility: visible;
    transition: linear 0.1s;
    text-align: center;
}
.box1northjs:hover{
    height: 265px;
    width: 220px;
    transform: translate(-50%,-50%);
    position: absolute;
    transform-origin: bottom;
    top: 25%;
    left: 20%;
    background: rgba(69, 69, 69, 0.5);
    visibility: visible;
    transition: linear 0.1s;
    transform-origin: top;
    
}
#box1northtextid{
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 15px;
    color: white;
    font-family:'inter';
    height: 20px;
    width: 220px;
    background-color: transparent;
}
#box1northtextid:hover{
    font-size: 16.5px;
}
/* end of box 1 north*/

/* start of box 2 north */
.box2north{
    height: 250px;
    width: 250px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #454545;
    visibility: hidden; 
    
}
.box2northjs{
    height: 220px;
    width: 220px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 25%;
    left: 50%;
    background-color: #454545;
    visibility: visible;
    transition: linear 0.1s;
    text-align: center;
}
.box2northjs:hover{
    height: 265px;
    width: 220px;
    transform: translate(-50%,-50%);
    position: absolute;
    transform-origin: bottom;
    top: 25%;
    left: 50%;
    background: rgba(69, 69, 69, 0.5);
    visibility: visible;
    transition: linear 0.1s;
    transform-origin: top;
    
}
#box2northtextid{
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 15px;
    color: white;
    font-family:'inter';
    height: 20px;
    width: 220px;
    background-color: transparent;
}
#box2southtextid:hover{
    font-size: 16.5px;
}
/* end of box 2 north*/

/* start of box 3 north */

.box3north{
    height: 250px;
    width: 250px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 80%;
    background-color: #454545;
    visibility: hidden; 
    
}
.box3northjs{
    height: 220px;
    width: 220px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 25%;
    left: 80%;
    background-color: #454545;
    visibility: visible;
    transition: linear 0.1s;
    text-align: center;
}
.box3northjs:hover{
    height: 265px;
    width: 220px;
    transform: translate(-50%,-50%);
    position: absolute;
    transform-origin: bottom;
    top: 25%;
    left: 80%;
    background: rgba(69, 69, 69, 0.5);
    visibility: visible;
    transition: linear 0.1s;
    transform-origin: top;
    
}
#box3northtextid{
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 15px;
    color: white;
    font-family:'inter';
    height: 20px;
    width: 220px;
    background-color: transparent;
}
#box3northtextid:hover{
    font-size: 16.5px;
}
/* end of box 3 north/

/* start of box 4 north */
.box4north{
    height: 250px;
    width: 250px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 65%;
    left: 20%;
    background-color: #454545;
    visibility: hidden; 
    
}
.box4northjs{
    height: 220px;
    width: 220px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 65%;
    left: 20%;
    background-color: #454545;
    visibility: visible;
    transition: linear 0.1s;
    text-align: center;
}
.box4northjs:hover{
    height: 265px;
    width: 220px;
    transform: translate(-50%,-50%);
    position: absolute;
    transform-origin: bottom;
    top: 65%;
    left: 20%;
    background: rgba(69, 69, 69, 0.5);
    visibility: visible;
    transition: linear 0.1s;
    transform-origin: top;
    
}
#box4northtextid{
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 15px;
    color: white;
    font-family:'inter';
    height: 20px;
    width: 220px;
    background-color: transparent;
}
#box4northtextid:hover{
    font-size: 16.5px;
}

/* box1 south*/ 
.box1south{
    height: 250px;
    width: 250px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 25%;
    left: 20%;
    background-color: #454545;
    visibility: hidden; 
    
}
.box1southjs{
    height: 220px;
    width: 220px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 25%;
    left: 20%;
    background-color: #454545;
    visibility: visible;
    transition: linear 0.1s;
    text-align: center;
}
.box1southjs:hover{
    height: 265px;
    width: 220px;
    transform: translate(-50%,-50%);
    position: absolute;
    transform-origin: bottom;
    top: 25%;
    left: 20%;
    background: rgba(69, 69, 69, 0.5);
    visibility: visible;
    transition: linear 0.1s;
    transform-origin: top;
    
}
#box1southtextid{
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 15px;
    color: white;
    font-family:'inter';
    height: 20px;
    width: 220px;
    background-color: transparent;
}
#box1southtextid:hover{
    font-size: 16.5px;
}
/* end of box 1 south*/

/* start of box 2 south */
.box2south{
    height: 250px;
    width: 250px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #454545;
    visibility: hidden; 
    
}
.box2southjs{
    height: 220px;
    width: 220px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 25%;
    left: 50%;
    background-color: #454545;
    visibility: visible;
    transition: linear 0.1s;
    text-align: center;
}
.box2southjs:hover{
    height: 265px;
    width: 220px;
    transform: translate(-50%,-50%);
    position: absolute;
    transform-origin: bottom;
    top: 25%;
    left: 50%;
    background: rgba(69, 69, 69, 0.5);
    visibility: visible;
    transition: linear 0.1s;
    transform-origin: top;
    
}
#box2southtextid{
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 15px;
    color: white;
    font-family:'inter';
    height: 20px;
    width: 220px;
    background-color: transparent;
}
#box2southtextid:hover{
    font-size: 16.5px;
}
/* end of box 2 south*/

/* start of box 3 south */

.box3south{
    height: 250px;
    width: 250px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 80%;
    background-color: #454545;
    visibility: hidden; 
    
}
.box3southjs{
    height: 220px;
    width: 220px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 25%;
    left: 80%;
    background-color: #454545;
    visibility: visible;
    transition: linear 0.1s;
    text-align: center;
}
.box3southjs:hover{
    height: 265px;
    width: 220px;
    transform: translate(-50%,-50%);
    position: absolute;
    transform-origin: bottom;
    top: 25%;
    left: 80%;
    background: rgba(69, 69, 69, 0.5);
    visibility: visible;
    transition: linear 0.1s;
    transform-origin: top;
    
}
#box3southtextid{
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 15px;
    color: white;
    font-family:'inter';
    height: 20px;
    width: 220px;
    background-color: transparent;
}
#box3southtextid:hover{
    font-size: 16.5px;
}
/* end of box 3 south/

/* start of box 4 south */
.box4south{
    height: 250px;
    width: 250px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 65%;
    left: 20%;
    background-color: #454545;
    visibility: hidden; 
    
}
.box4southjs{
    height: 220px;
    width: 220px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 65%;
    left: 20%;
    background-color: #454545;
    visibility: visible;
    transition: linear 0.1s;
    text-align: center;
}
.box4southjs:hover{
    height: 265px;
    width: 220px;
    transform: translate(-50%,-50%);
    position: absolute;
    transform-origin: bottom;
    top: 65%;
    left: 20%;
    background: rgba(69, 69, 69, 0.5);
    visibility: visible;
    transition: linear 0.1s;
    transform-origin: top;
    
}
#box4southtextid{
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 15px;
    color: white;
    font-family:'inter';
    height: 20px;
    width: 220px;
    background-color: transparent;
}
#box4southtextid:hover{
    font-size: 16.5px;
}